<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="raw" level="DEBUG"/>
    <logger name="org.apache.hc" level="INFO"/>
    <logger name="com.amazonaws.request" level="INFO"/>
    <logger name="org.apache.hadoop" level="WARN"/>
</configuration>