name: CI
on:
  pull_request:
    paths:
      - .sbtopts
      - build.sbt
      - project/**
      - compiler/**
      - snapi-frontend/**
      - snapi-truffle/**
      - snapi-compiler/**
      - python-compiler/**
      - sql-compiler/**
      - .github/workflows/ci.yaml
      - ci/**
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  SBT_OPTS : -Dsbt.log.noformat=true -Xss2m -Xms1g
  GITHUB_TOKEN: ${{ secrets.READ_PACKAGES }}

jobs:
  code-checks:
    runs-on: [self-hosted,snapi,eks]
    steps:
      - uses: actions/checkout@v4
      - run: ./ci/check headerCheckAll
      - run: ./ci/check scalafmtCheckAll
      - run: ./ci/check javafmtCheckAll
  doc:
    runs-on: [self-hosted,snapi,eks]
    steps:
      - uses: actions/checkout@v4
      - name: Ensure ANTLR JAR is present
        uses: ./.github/actions/get-antlr4
      - run: ./ci/check doc
  tests:
    strategy:
      fail-fast: false
      matrix:
        component:
          - snapi-frontend
          - snapi-compiler
          - sql-compiler
          - python-compiler
    runs-on: [self-hosted,snapi,eks]
    steps:
      - uses: actions/checkout@v4
      - uses: oNaiPs/secrets-to-env-action@v1.5
        with:
          secrets: ${{ toJSON(secrets) }}
      - run: env > .env
      - name: Ensure ANTLR JAR is present
        uses: ./.github/actions/get-antlr4
      - run: ./ci/test ${{ matrix.component }}
      - uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          annotate_only: true
          check_name: JUnit ${{ matrix.component }} report
          report_paths: ${{ matrix.component }}/target/test-reports/*.xml
          detailed_summary: true
          require_tests: true
