name: CI
on:
  pull_request:
    paths:
      - deps/**
      - utils/**
      - client/**
      - parsers/**
      - modules/snapi-client/**
      - modules/snapi-frontend/**
      - modules/snapi-truffle/**
      - python-client/**
      - sql-client/**
      - .github/workflows/ci.yaml
  workflow_dispatch:

env:
  SBT_OPTS : -Dsbt.log.noformat=true -Xss2m -Xms1g

jobs:
  build:
    runs-on: self-hosted
    container:
      image: ghcr.io/raw-labs/raw-scala-runner:21.0.0-ol9-20230919_scala2.12.18_sbt1.9.6
      options: --user 1001
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.READ_PACKAGES }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: ./rebuild.sh
      - name: upload ivy build artifacts
        uses: actions/upload-artifact@v4
        with:
          name:  ivy
          path: /home/sbtuser/.ivy2/local
          retention-days: 1
      - name: upload m2 build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: m2
          path: /home/sbtuser/.m2/repository
          retention-days: 1
      - name: upload versions
        uses: actions/upload-artifact@v4
        with:
          name: versions
          path: ./**/version
          retention-days: 1
  code-checks:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        component:
          - utils
          - client
          - modules
          - python-client
          - sql-client
    runs-on: self-hosted
    container:
      image: ghcr.io/raw-labs/raw-scala-runner:21.0.0-ol9-20230919_scala2.12.18_sbt1.9.6
      options: --user 1001
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.READ_PACKAGES }}
    steps:
      - uses: actions/checkout@v4
      - name: sdkman java setup
        id: sdkman
        run: |
          export HOME="/home/sbtuser"
          export SDKMAN_DIR="$HOME/.sdkman"
          source $SDKMAN_DIR/bin/sdkman-init.sh
          yes n | sdk install java 21.0.1-graalce || true
          sdk use java 21.0.1-graalce
          echo "$SDKMAN_DIR/candidates/java/current/bin" >> $GITHUB_PATH
      - name: download ivy build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ivy
          path: /home/sbtuser/.ivy2/local
      - name: download m2 build artifacts
        uses: actions/download-artifact@v4
        with:
          name: m2
          path: /home/sbtuser/.m2/repository
      - name: download versions
        uses: actions/download-artifact@v4
        with:
          name: versions
      #- name: headers
      #  run: sbt headerCheckAll
      #  working-directory: ${{ matrix.component }}
      - name: scala fmt
        run: sbt scalafmtCheckAll
        working-directory: ${{ matrix.component }}
      - name: java fmt
        run: sbt javafmtCheckAll
        working-directory: ${{ matrix.component }}
      - name: doc
        run: |
          if [ ${{ matrix.component }} == "modules" ]
          then
            sbt snapiTruffle/runJavaAnnotationProcessor doc
          else
            sbt doc
          fi
        working-directory: ${{ matrix.component }}
  tests:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        component:
          - modules
          - sql-client
    runs-on: self-hosted
    env:
      SBT_FORK_OUTPUT_DIR : test-results
      COURSIER_PROGRESS : false
    container:
      image: ghcr.io/raw-labs/raw-scala-runner:21.0.0-ol9-20230919_scala2.12.18_sbt1.9.6
      options: --user 1001 --cpus 6 --memory 32g -e HOME=/home/sbtuser
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.READ_PACKAGES }}
    steps:
      - uses: actions/checkout@v4
      - uses: oNaiPs/secrets-to-env-action@v1.5
        with:
          secrets: ${{ toJSON(secrets) }}
      - name: download ivy build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ivy
          path: /home/sbtuser/.ivy2/local
      - name: download m2 build artifacts
        uses: actions/download-artifact@v4
        with:
          name: m2
          path: /home/sbtuser/.m2/repository
      - name: download versions
        uses: actions/download-artifact@v4
        with:
          name: versions
      - name: test
        run: |
          test_version=$(cat ./version)
          echo "Testing ${{ matrix.component }} version: $test_version"
          ./test.sh
        working-directory: ${{ matrix.component }}
      - uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: ./**/test-reports/*.xml
          detailed_summary: true
      - uses: actions/upload-artifact@v3
        with:
          name: executor-logs
          path: test-results/executor-logs
          retention-days: 4
          if-no-files-found: ignore
      - uses: actions/upload-artifact@v3
        with:
          name: heap-dumps
          path: test-results/heap-dumps
          retention-days: 4
          if-no-files-found: ignore
