name: publish
on:
  repository_dispatch:
    types: [publish]
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: self-hosted
    container:
      image: ghcr.io/raw-labs/raw-scala-runner:21.0.0-ol9-20230919_scala2.12.18_sbt1.6.2
      options: --user 1001 --cpus 6 --memory 32g -e HOME=/home/sbtuser
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.READ_PACKAGES }}
    env:
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
    - if: github.event_name != 'repository_dispatch'
      name: Checkout caller ref
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - if: github.event_name == 'repository_dispatch'
      name: Checkout for PR comment
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.client_payload.pull_request.head.sha }}
        fetch-depth: 0
    - name: build deps
      run: |
        deps/kiama/build.sh
        deps/scala-logging/build.sh
    - if: github.event_name == 'repository_dispatch'
      name: evaluate produced version
      shell: bash
      working-directory: language
      run: |
        sbt -Dsbt.log.noformat=true version > version_output.txt 2>&1
        echo "DYNVER=$(awk {print $2}' version_output.txt | tail -n 1 | awk '{$1=$1;print}')" >> $GITHUB_ENV
    - if: github.event_name == 'repository_dispatch'
      uses: peter-evans/create-or-update-comment@v2
      with:
        token: ${{ secrets.RAW_CI_PAT }}
        repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
        comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
        body: |
          > will publish version: ${{ env.DYNVER }}
        reactions: rocket
    - run: sbt ci-release
      working-directory: language
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
        CI_CLEAN: clean
        CI_RELEASE: publishSigned
        CI_SNAPSHOT_RELEASE: publish
    - if: success() && github.event_name == 'push' && contains(github.ref, 'refs/tags/')
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.RAW_CI_PAT }}
        event-type: release
        client-payload: '{"ref": "${{ github.ref }}", "tag": "${{ github.ref_name }}"}'
    - if: success() && github.event_name == 'repository_dispatch'
      uses: peter-evans/create-or-update-comment@v2
      with:
        token: ${{ secrets.RAW_CI_PAT }}
        repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
        comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
        body: |
          > published
          > run [${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) success :heavy_check_mark:
        reactions: hooray
    - if: failure() && github.event_name == 'repository_dispatch'
      uses: peter-evans/create-or-update-comment@v2
      with:
        token: ${{ secrets.RAW_CI_PAT }}
        repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
        comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
        body: |
          > run [${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) failed :x:
        reactions: confused
